h1 {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  padding-top: 30px;
}
h2 {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}
footer {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: block;
  padding-top: 30px;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/145/original/ChatGPT_Image_2025%E5%B9%B46%E6%9C%881%E6%97%A5_%E4%B8%8B%E5%8D%8810_06_28.png?1748817620");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

main {
  background-color: rgba(255, 254, 240, 0.751);
  max-width: 50%;
  margin: 20px auto;
  padding: 40px 30px;
  border-radius: 10px;
}

select {
  display: flex;
  justify-content: center;
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 20px;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  border: dotted 2px chocolate;
  background-color: rgb(242, 235, 228);
  width: 95%;
}

#city {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 50px;
  color: rgb(90, 39, 4);
  padding-left: 20px;
  line-height: 0%;
}

#date {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(126, 56, 5);
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}

.time {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(104, 43, 3);
  font-size: 60px;
  padding: 10px;
  text-align: right;
  position: relative;
  top: 30px;
}

.cityClock {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted rgba(210, 105, 30, 0.282);
}
.cityClock_ldn {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted rgba(210, 105, 30, 0.282);
}

.cityClock_last {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

#cityClock2 {
  display: flex;
  justify-content: space-between;
}
#selectedcity {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 50px;
  color: rgb(90, 39, 4);
  padding-left: 20px;
  line-height: 0%;
}
#selectedcitydate {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(126, 56, 5);
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}
#selectedcitytime {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(104, 43, 3);
  font-size: 60px;
  padding: 10px;
  text-align: right;
  position: relative;
  top: -170px;
}
#backButton {
  display: flex;
  justify-content: center;
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
  border: dotted 2px chocolate;
  color: rgb(242, 235, 228);
  background-color: rgb(90, 39, 4);
  width: 30%;
}
#backButton:hover {
  background-color: rgb(242, 235, 228);
  color: rgb(90, 39, 4);
}
